<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Student Details</title>
    <link rel="stylesheet" href="{% static 'css/bootstrap.css' %}">

</head>
<body>
<div class='container mt-5'>
    <h2 class="text-center alert alert-danger">Function based view Modelform crude Project</h2>
</div>
{% block content %}
{% endblock content %}

<link rel="stylesheet" href="{% static 'js/jquey.js' %}">
<link rel="stylesheet" href="{% static 'js/popper.js' %}">
<link rel="stylesheet" href="{% static 'js/bootstrap.js' %}">
</body>
</html>